<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register Page</title>
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/registration.css') }}"
  />
  </head>
  <body>
    <div class="container">
      <h2>Registration</h2>
      <button class="button"> Home </button>
      <form>
        <input type="text" placeholder="Username" required>
        <input type="email" placeholder="Email" required>
        <input type="password" placeholder="Password" required>
        <input type="password" placeholder="Confirm Password" required>
        <button class="button">Register</button>
      </form>
    </div>
  </body>
</html>
